#OS junk files
thumbs.db
Thumbs.db
*.DS_Store
#Visual Studio files
*.aps
*.bak
*.cache
*.Cache
*.exp
*.filters
*.ilk
*.log
*.ncb
*.obj
*.Obj
*.opensdf
*.pch
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.unsuccessfulbuild
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
*_i.h
*_p.h
unispim*.lib
debug*/*.lib
Debug*/*.lib
release*/*.lib
Release*/*.lib
debug*/
Debug*/
release*/
Release*/
build/
